body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background: #dde1ed;
    user-select: none;
    min-height: 100vh;
}
.content{
   
    align-items: center;
    justify-content: center;
    background:#dde1ed; 
    padding: 45px 35px 40p;
    box-sizing: border-box;
    margin-top: 10%;
    margin-left: 35%;
    width: 330px;
    height: auto;
    height:78%;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: -4px -4px 7px #fffdfdb7,3px 3px 5px rgba(94,104,121,0.288);
}
.content img{
     height: 50px;
     width: 50px;
     margin-top: -100px;
     border-radius:50%;
     margin-left: 40%;
     margin-bottom: -10px;
    
}
.text{
     text-align: center;
     text-decoration: none;
     font-size: 20px;
     color: #000000;
     margin-top: 20px;
     font-weight: 50px;
     
}
form{
    margin-top: 40px;
   
}
form .field{ 
    margin-top: 20px;
    display: flex;
   
}
.field .fas{
     background: #dde1e7;
     color: #868686;
     font-size:20px;
     line-height: 35px;
     height: 30px;
     width: 50px;
     border: none;
     text-align: center;
     border-right: none;
     box-shadow: inset 2px 2px 5px #babecc,
                 inset -5px -5px 10px #ffffff73;
     
}

.field input ,form button{
   background: #dde1e7;
   padding: 0 15px;
   border-radius: 0 5px 5px 0;
   height: 30px;
   width: 80%;
   font-size: 18px;
   color:#868686;
   outline: none;
   border:none;
   box-shadow: inset 2px 2px 5px #babecc,inset -5px, -5px, 10px,#ffffff73;
}
form button{
    color:#363837;
    margin-top: 40px;
    border-radius: 5px!important;
    font-weight: 600;
    letter-spacing: 1px;
    cursor:pointer;
    box-shadow: -3px -3px 7px #fffdfdb7;
    margin-left:29px;
   

}
button:hover{
    color:blue;
    box-shadow: inset 2px 2px 2px 5px #babecc,inset -5px -5px 10px #ffffff73;
}

.link{
    text-align: center;
   
    margin-top: 25px;
    color:#000000;
   
}
.link a{
    text-decoration: none;
    color:#08adef;
}
.link a:hover{
    text-decoration: underline;
}